﻿@model ListaViewModel

@{
    
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

<div class="row">
    <h2>Teste de Grid Html Helper</h2>
    <div id="GridLista">
        @HtmlGrid.DesenharGrid(Model.Pessoas.Select(p => new { PessoaID = p.PessoaID, Nome = p.Nome, Celular = p.Celular }), Model.DataTablePessoas)
    </div>
</div>

<script type="text/javascript">
    
    function EditarPessoa(id, nome)
    {
        alert('Teste de chamada jquery ' + id + ' - ' + nome);
    }

    ///////////////////// funções genericas da grid /////////////////////
    //////////////////// apenas quando a grid é usada para popular uma collection
    
    //corrige o atributo name e a sequencia de elementos da collection para não perder o bind no post
    //função é generica e funciona com qualquer grid da view
    //param nomeGrid é o nome da div dentro da qual esta a table
    //param colunas é o numero de colunas da table (somente de dados não inclui a coluna de ações)
    function CorrigirSequenciaID(nomeGrid, colunas) {
        var indice = 0;
        var col = 1;
        var table = $('div#' + nomeGrid + ' table tr td');
        table.find('input:hidden').each(function () {
            var nomeParte1 = this.name.substr(0, this.name.indexOf('[')+1);
            var nomeParte2 = this.name.substr(this.name.indexOf(']'), this.name.length);
            var nomeNovo = nomeParte1 + indice + nomeParte2;
            this.name = nomeNovo;
            if (col == colunas) {
                indice++;
                col = 0;
            }
            col++;
        });
    }

    //valida se o id passado como parametro já existe na grid
    function ExisteId(pid, nomeGrid) {
        var row = $('div#' + nomeGrid + ' table tr:last');
        var nextid = parseInt($(row).attr('id'));
        var retorno = false;
        if (!isNaN(nextid)) {
            var table = $('div#' + nomeGrid + ' table tr td');
            table.find('input:hidden').each(function () {
                var indice = parseInt($(this).attr('indice'));
                if (!isNaN(indice)) {
                    if (indice == pid) {
                        retorno = true;
                    }
                }
            });
        }
        return retorno;
    }
</script>